version: '3.8'

services:
  neo4j:
    image: neo4j:5.15
    container_name: bdnsv_neo4j
    ports:
      - "7474:7474" # Browser Interface
      - "7687:7687" # Bolt Protocol
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_dbms_memory_pagecache_size=512m
      - NEO4J_dbms_memory_heap_initial__size=512m
      - NEO4J_dbms_memory_heap_max__size=1G
    volumes:
      - neo4j_data:/data
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  rag_app:
    build: .
    container_name: bdnsv_streamlit
    ports:
      - "8501:8501"
    depends_on:
      neo4j:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USERNAME=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
      - PYTHONUNBUFFERED=1

volumes:
  neo4j_data: