apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: bfamokctfvi0we
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    editable: true